// responsive style

@media (max-width: 1399px) {
    .trustList {
        .slick-arrow {
            &.slick-prev {
                left: -100px;
            }
            &.slick-next {
                right: -100px;
            }
        }
    }

    .reviewsList {
        .slick-arrow {
            &.slick-prev {
                left: -100px;
            }
            &.slick-next {
                right: -100px;
            }
        }
    }
}

@media (max-width: 1219px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .tarifsWrapper {
        padding: 0;
    }

    .solutionsList,
    .tarisfList {
        .slick-track {
            padding: 20px 0;
        }
    }

    .tarifItem {
        min-height: 375px !important;
        padding: 65px 20px 0 !important;
        .tarifTitle {
            & > * {
            }
            small {
            }
        }
        .tarifText {
        }
        .tarifBtn {
        }
    }

    .solutionsWrapper {
        padding: 30px 0;
    }

    .sectionTitle {
        text-align: center;
        font-size: 70px;
    }

    .sectionDesc {
        text-align: center;
    }

    .howWork {
        .sectionTitle {
            text-align: left;
        }

        .sectionDesc {
            text-align: left;
        }
    }

    .trustWrapper {
        padding-bottom: 120px;
    }
}

@media (max-width: 1199px) {
    .advItem {
        .advantageText {
            font-size: 18px;
            min-height: 115px;
        }
    }

    .howWork {
        flex-wrap: wrap;
        .leftSide {
            width: 100%;
        }
        .rightSide {
            display: none;
        }
        .howAnimation {
        }
    }
}

@media (max-width: 1023px) {
    .howAnimation {
        flex-wrap: wrap;

        .left {
            width: 100%;
        }
        .right {
            width: 100%;
            margin: 30px auto 0;
            & > .loadBlock {
                display: none;
            }
        }
        .server {
            margin-top: -30px;
            margin-bottom: -75px;
        }
        .manager {
            padding-bottom: 60px;
            .loadBlock {
                display: none;
            }
            .textRight,
            .textBottom {
                display: none;
            }
        }
        .production {
            margin-top: 0;
            padding-top: 60px;
            padding-bottom: 90px;
        }
        .listMachine {
            padding-top: 20px;
            .itemMachine {
                &::after,
                &::before {
                    display: none;
                }
            }
            .circle {
                display: none;
            }
        }
    }

    .trustList {
        .trustItem {
        }
        .leftSide {
            width: 100%;
            padding: 35px;
            .row {
            }
            .col {
                & + .col {
                    margin-top: 10px;
                }
            }
            .desc {
            }
            .cap {
                br {
                    display: none;
                }
            }
            .name {
            }
            .adress {
            }
            .text {
            }
        }
        .rightSide {
            width: 100%;
            flex-wrap: wrap;
            min-height: inherit;
            .toBlock {
                padding: 50px 35px;
                @include border-radius-bottom-left(20px);
            }
            .fromBlock {
                padding: 50px 35px;
            }
            .title {
            }
            .persent {
            }

            ul {
                li {
                    & + li {
                        margin-top: 18px;
                    }
                }
            }
        }
        .centerBlock {
            .count {
            }
        }
    }
}

@media (max-width: 767px) {
    .advItem {
        .advantageText {
            min-height: inherit;
            min-height: 115px;
        }
        .advItem {
            ul {
                li {
                    & + li {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 639px) {
    .tarifItem {
        min-height: 375px !important;
        padding: 30px 15px 10px !important;
        .tarifTitle {
            & > * {
            }
            small {
            }
        }
        .tarifText {
        }
        .tarifBtn {
        }
    }

    .sectionTitle {
        font-size: 50px;
        line-height: 60px;
    }

    .advItem {
        .title {
            font-size: 24px;
        }
        .advPercent {
            font-size: 50px;
        }

        .advantageText {
            font-size: 18px;
            margin: 10px auto 0;
        }
    }

    .advList {
        margin-top: 40px;
    }

    .trustList {
        .trustItem {
        }
        .leftSide {
            padding: 20px;
            .row {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
            }
            .col {
                width: 50%;
                & + .col {
                }
            }
            .desc {
                font-size: 12px;
            }
            .cap {
                font-size: 24px;
                br {
                    display: block;
                }
            }
            .name {
                font-size: 18px;
            }
            .adress {
                font-size: 14px;
            }
            .text {
                font-size: 14px;
                & > * {
                    font-size: 14px;
                }
            }
        }
        .rightSide {
            .toBlock {
                padding: 20px;
            }
            .fromBlock {
                padding: 20px;
                background-image: none;
            }
            .title {
                font-size: 16px;
            }
            .persent {
                font-size: 21px;
            }

            ul {
                margin-top: 75px;
                li {
                    font-size: 15px;
                    & + li {
                    }
                }
            }
        }
        .centerBlock {
            height: 50px;
            font-size: 18px;
            margin-top: -60px;
            .count {
                font-size: 34px;
            }
        }
    }
}

@media (max-width: 479px) {
    .solutionItem {
        padding: 15px 10px;
        .nubmerInvis {
            right: 1px;
            top: -31px;
            font-size: 185px;
        }
        .solutionTitle {
            & > * {
                font-size: 38px;
            }
        }
        .solutionInfo {
            .solutionNum {
                font-size: 38px;
                margin-right: 10px;
            }
        }
        .soulPrice {
            margin-top: 30px;
        }
    }

    .solutionsList {
        margin-top: 0;
        margin-bottom: 0;
    }

    .sectionDesc {
        font-size: 20px;
    }

    .howAnimation {
        .production {
            padding: 60px 15px 30px;
            text-align: center;
        }
        .listMachine {
            padding-top: 0;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            .itemMachine {
                width: 100%;
                margin-top: 50px;

                & + .itemMachine {
                }
            }
        }
    }

    .howWork {
        .leftSide {
            .howWorkText {
                margin-top: 30px;
                font-size: 18px;
            }
        }
        .controls {
            margin-top: 30px;
        }
        .manager {
            ul {
                li {
                    font-size: 20px;
                }
            }
        }
    }

    .trustList {
        .rightSide {
            .title {
                max-width: 100px;
                display: block;
            }
        }
        .centerBlock {
            margin-top: -50px;
        }
    }
}

@media (max-width: 359px) {
    .trustList {
        .leftSide {
            .col {
                width: 100%;
            }

            .cap {
                br {
                    display: none;
                }
            }
        }
        .rightSide {
            .toBlock {
                padding: 20px 10px;
            }
            .fromBlock {
                padding: 20px 10px;
            }
            .title {
                max-width: 100px;
                display: block;
            }
            .persent {
                width: 100%;
            }

            ul {
                margin-top: 100px;
                li {
                    text-align: center;
                    flex-wrap: wrap;
                    justify-content: center;
                    & + li {
                    }
                }
            }
        }
        .centerBlock {
            margin-top: -70px;
            .count {
            }
        }
    }
}
